@font-face {
    font-family: 'Contrail One';
    src: url("//db.onlinewebfonts.com/t/8dbb836081059e0f2e81eeeaec207c19.woff2") format("woff2");
}
@import url(//db.onlinewebfonts.com/c/8dbb836081059e0f2e81eeeaec207c19?family=Contrail+One);

/* Page reset */
html, body {
    height: 100%;
    width: var(--main-width);
}

/* Navigation - header section*/
nav li {
    display: block;
    float: right;
    position: relative;
    bottom: 70px;
    right: 10px;
}

nav a {
    font-family: 'Contrail One ', Verdana, sans-serif;
    text-decoration: none;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.logo {
    width: min(18vw, 300px);
    margin: 10px 0px 0px 20px;
}

header {
    background-image: url('../images/headerpic.jpg');
    max-width: 100%;
    min-height: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}

/* General - body */
body {
    background-color: #211e21;
    min-height: 100vh;
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* Text styling */
h1 {
    color: #810000;
    font-family: 'Papyrus', Verdana, sans-serif;
    font-size: 60px;
    font-style: italic;
    filter: drop-shadow(3px 3px 3px #211e21);
}

p {
    font-family: 'Contrail One', Verdana, sans-serif;
    color: #fff;
    font-size: 25px;
    text-align: left;
    filter: drop-shadow(3px 3px 3px #211e21);
}

.paragraf {
    position: relative;
    margin-top: 0;
    margin-left: 5%;
}

h3 {
    color: #fff;
    font-family: 'Contrail One', Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
}

/* Footer */
.footer {
    background: #746666;
    max-height: 50px;
    width: auto;
    text-align: center;
    color: #000000;
    font-family: 'Contrail One', Verdana, sans-serif;
    font-size: 18px;
    padding: 15px;
    margin: 0px;
}

/* Carousel */
.carousel {
    position: relative;
    white-space: nowrap;
    overflow: scroll;
    margin: 10px;
}
