@font-face {
    font-family: 'Contrail One';
    src: url("//db.onlinewebfonts.com/t/8dbb836081059e0f2e81eeeaec207c19.woff2") format("woff2");
}
@import url(//db.onlinewebfonts.com/c/8dbb836081059e0f2e81eeeaec207c19?family=Contrail+One);

/* Page reset */
html, body {
    height: 100%;
    width: var(--main-width);
}
.logo {
    width: min(18vw, 300px);
    margin: 10px 0px 0px 20px;
}

header {
    background-image: url('../images/headerpic\ small.jpg');
    max-width: 100%;
    min-height: fit-content;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
}

/* General - body */
body {
    background-color: #211e21;
    min-height: 100vh;
    margin: 0px;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
nav ul { 
    float: right;
}
nav ul li {
    display: inline-block;
    line-height: 220px;
}

nav ul li a {
    font-family: 'Contrail One ', Verdana, sans-serif;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

label #btn,
label #cancel {
    color: #fff;
    font-size: 30px;
    float: right;
    margin-top: 10px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

@media (max-width: 1130px) {
    nav ul li {
        line-height: 150px;
    }
}

@media (max-width: 900px) {
    nav ul li {
        line-height: 130px;
    }
    nav ul li a {
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    label #btn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 80px;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    #check:checked ~ ul {
        left: 0;
    }
    #check:checked ~ label #btn {
        display: none;
    }
    #check:checked ~ label #cancel {
        display: block;
    }
}
